<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static/simple.css" type="text/css" rel="stylesheet">
        <title>godraft</title>
    </head>
    <body>
        <h1>godraft 🎴 {{ if .Version }}(v{{ .Version }}){{ end }}</h1>
        <h2>Etape 1 : Mon type de deck</h2>
        <form method="POST" action="step2">
            <table>
                <tr>
                    <td>
                        <h4>Format</h4>
                    </td>
                    <td>
                        <input type="radio" id="draft" name="deckformat" value="draft"
                        checked>
                        <label for="draft">Draft</label> (40 cartes minimum)
                    </td>
                    <td>
                        <input type="radio" id="standard" name="deckformat" value="standard">
                        <label for="standard">Standard</label> (60 cartes minimum)
                    </td>
                    <td>
                        <input type="radio" id="commander" name="deckformat" value="commander">
                        <label for="commander">Commander</label> (100 cartes)
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Style de jeu</h4>
                    </td>
                    <td>
                        <input type="radio" id="aggro" name="deckstyle" value="aggro">
                        <label for="aggro">Aggro</label>
                    </td>
                    <td>
                        <input type="radio" id="midrange" name="deckstyle" value="midrange"
                        checked>
                <label for="midrange">Midrange</label>
                    </td>
                    <td>
                        <input type="radio" id="control" name="deckstyle" value="control">
                        <label for="control">Control</label>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Préparer !" style="font-size: 1.5rem"/>
        </form>

        <h2>A propos</h2>

        <p style="margin-top: 0px;">godraft est une application web ayant pour but de faciliter la vie des joueurs lors de "Drafts" de Magic the Gathering(tm). La première version inclus un outil pour calculer combien de terrains de chaque couleur doivent être mis dans le deck.</p>

        <p style="margin-top: 0px;">godraft est un logiciel open source écrit par <a href='https://twitter.com/zwindler'>zwindler</a>. Le code source peut être  <a href="https://github.com/zwindler/godraft">trouvé ici</a>. Les problèmes/suggestions peuvent être <a href="https://github.com/zwindler/godraft/issues">remontées là</a>.</p>

    </body>
</html>
