<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static/simple.css" type="text/css" rel="stylesheet">
        <title>godraft</title>
    </head>
    <body>
        <h1>godraft</h1>
    
        <h2>Q: How much lands of each type should I put in my deck?</h2>
        <form method="POST" action="compute">
            <table style="width:100%">
                <tr>
                    <td style="width:61%">
                        <h4>Number of cards in the deck</h4>
                        <div>
                            <input type="range" name="ncards" value="{{.NCards}}" min="40" max="60" step="1" oninput="this.nextElementSibling.value = this.value" style="width:85%; margin-bottom:0; line-height:0"><output style="font-size: 2rem; text-align: right; display:inline-block; width:9%; line-height:0">{{.NCards}}</output>
                        </div>
                    </td>
                    <td style="width:39%">
                        <h4>Number of lands</h4>
                        <div>
                            <input type="range" name="nlands" value="{{.NLands}}" min="13" max="25" step="1" oninput="this.nextElementSibling.value = this.value" style="width:80%; margin-bottom:0; line-height:0"><output style="font-size: 2rem; text-align: right; display:inline-block; width:9%; line-height:0">{{.NLands}}</output>
                        </div>
                    </td>
                </tr>
            </table>
            
            <h4>Sum of the colored mana from your cards</h4>
            <table style="width:100%">
                <tr>
                    <td>☀️</td>
                    <td>💧</td>
                    <td>💀</td>
                    <td>🔥</td>
                    <td>🌳</td>
                </tr>
                <tr>
                    <td><h4><input type="number" name="white" value="{{.White}}"/></h4></td>
                    <td><h4><input type="number" name="blue" value="{{.Blue}}"/></h4></td>
                    <td><h4><input type="number" name="black" value="{{.Black}}"/></h4></td>
                    <td><h4><input type="number" name="red" value="{{.Red}}"/></h4></td>
                    <td><h4><input type="number" name="green" value="{{.Green}}"/></h4></td>      
                </tr>
            </table>
            <input type="submit" value="Compute!" style="font-size: 1.5rem"/>
        </form>

        {{ if or (.AWhite) (.ABlue) (.ABlack) (.ARed) (.AGreen) }}
        <h2>A: You should put these lands in your deck</h2>

        <table style="width:100%">
            <tr>
                <td><h2>☀️</h2></td>
                <td>💧</td>
                <td>💀</td>
                <td>🔥</td>
                <td>🌳</td>
            </tr>
            <tr>
                <td><h4>{{.AWhite}}</h4></td>
                <td><h4>{{.ABlue}}</h4></td>
                <td><h4>{{.ABlack}}</h4></td>
                <td><h4>{{.ARed}}</h4></td>
                <td><h4>{{.AGreen}}</h4></td>      
            </tr>
        </table>
        {{ end }}

        <h2>Help / getting started</h2>
        <ol style="margin-top: 0px;">
            <li>Count the number of non-land cards you have</li>
            <li>Decide how much lands you want to add in the deck</li>
                <ul>
                    <li>For a 40 cards deck, it's advised to put 17 lands and 23 non-lands</li>
                </ul>
            <li>For each color, sum the colored mana on your cards' costs
                <ul>
                    <li>For example, a 3️⃣☀️☀️ count as 2 white mana, a 3️⃣☀️ count as one</li>
                </ul>
            <li>Enter all those values in the boxes and click "Compute!"</li>
        </ol>

        <h2>About</h2>

        <p>godraft is a simple webapp to help players during Magic the Gathering(tm) drafts. First version features a tool to compute how much lands of each colors you should add to your draft deck.</p>

        <p>godraft is open source. Source code can be <a href="https://github.com/zwindler/godraft">found here</a>. Issues/suggestions can be <a href="https://github.com/zwindler/godraft/issues">submitted there</a>.</p>

    </body>
</html>
